/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Universal Box-Sizing*/
html {
	font-size: 100%;
  box-sizing: border-box;
}

/*@media (max-width: 770px) {
  html {
		font-size: 80%;
	}
}*/

*, *:before, *:after {
  box-sizing: inherit;
}

/*Custom Styling*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Oswald', sans-serif;
	background-color: #e7e7e7;
}

header {
  background-color: #1f1f1f;
  color: #fff;
  margin: 0;
	height: 60px;
}

header .logo {
	padding: 10px;
	height: 60px;
}

header .wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
	height: 60px;
}

header nav {
	float: right;
	vertical-align: middle;
	height: 60px;
	line-height: 60px;
}

header nav ul li{
	display: inline-block;
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0 0.5em;
}

/*@media (max-width: 770px) {
  header nav ul li {
		font-size: 1.2em;
	}
}

@media only screen (max-width: 480px) {
  header nav ul li {
		font-size: 1em;
	}
}*/

.content-top-bg {
	width: 100%;
	background-color: #1f1f1f;
}

.content-wrapper {
	width: 100%;
  max-width: 1100px;
  margin: 0 auto;
	/*-webkit-box-shadow: 3px 3px 5px 6px #000;
  -moz-box-shadow:    3px 3px 5px 6px #000;
  box-shadow:         3px 3px 5px 6px #000;*/
}

.main-content-wrapper {
	width: 100%;
	background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
	padding-top: 10px;
	box-shadow: 0px 0px 0px #1f1f1f;
}

/* Flexslider customization */

.flexslider {
	border: none;
	border-radius: 0;
	overflow: hidden;
	margin: 0;
}

.flex-control-nav {
	bottom: 2%;
}

.flex-control-paging li a {
	border: 2px solid rgba(0,0,0,0.7);
  background: #fff;
	background: rgba(255, 255, 255, 0.5);
}
.flex-control-paging li a:hover {
  background: #56ce7b;
  background: rgba(86, 206, 123, 0.7);
}
.flex-control-paging li a.flex-active {
	border: 2px solid rgba(255,255,255,0.5);
	background: #56ce7b;
  cursor: default;
}

.custom-navigation a {
	display: block;
	position: absolute;
	text-indent: -9999px;
	width: 48px;
	height: 48px;
	bottom: 50%;
	margin-bottom: -24px;
	opacity: 0.7;
}

.custom-navigation a.flex-prev {
	z-index: 1;
	left: 2%;
	background-image: url("../img/slider-prev.png");
	background-size: contain;

}

.custom-navigation a.flex-next {
	z-index: 1;
	right: 2%;
	background-image: url("../img/slider-next.png");
	background-size: contain;

}

.slides {
	max-height: 400px;
	overflow: hidden;
}

.slides li {
	position: relative;
}

.slide-title {
	position: absolute;
	bottom: 9%;
	left: 4%;
	color: #fff;
	font-family: Oswald, sans-serif;
	font-size: 1.7em;
	padding: 0.4em;
	background-color: rgba(0, 0, 0, 0.7);
}

.main-slider {

}

/* Most Read Sction */
.header-container {
	background-color: #1f1f1f;
	transform: skewX(20deg);
}

.section-header {
	display: inline-block;
	font-family: Oswald, sans-serif;
	font-size: 1.8em;
	padding: 10px;
	padding-right: 30px;
	text-transform: uppercase;
	color: #fff;
	background-color: #1f1f1f;
	position: relative;
	margin-left: 5px;
}

.section-header::after {
	content: "";
	top: 0;
	right: -10px;
	position: absolute;
	display: block;
	background-color: #56ce7b;
	width: 20px;
	height: 100%;
	transform: skewX(20deg);
}

#most-read .container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.article-box {
	display: block;
	position: relative;
	padding: 0 5px;
	float: left;
	width: 33.333333%;
	height: auto;
}

.article-box img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.article-wrapper {
	width: 100%;
	position: relative;
}

.article-caption {
	padding: 10px;
	font-size: 1.4em;
	line-height: 1.5em;
	width: 100%;
	left: 0;
	height: 35%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	bottom: 0;
}

#reviews {
	float: left;
	width: 60%;
}

#videos {
	float: left;
	width: 40%;
}
